@model IEnumerable<EMap.MapServer.Services.Models.LayerRecord>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<p>
    <a asp-controller="Layers" asp-action="Create">上传</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name)*@
                    <a asp-controller="Layers" asp-action="Preview" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
