@model EMap.MapServer.Services.ViewModels.PreviewModel
@using EMap.MapServer.OpenLayers;
@using EMap.MapServer.OpenLayers.layer;
@using EMap.MapServer.OpenLayers.source;
@{
    ViewData["Title"] = "预览";
}
@section Head{
    <link rel="stylesheet" href="~/css/ol.css" type="text/css">
    <style>
        .map {
            height: 100%;
            width: 100%;
        }
    </style>
    <script src="~/js/ol.js" type="text/javascript"></script>
}
<div id="map" class="map"></div>
@section Scripts{
    <script type="text/javascript">
        function getTileLayer(tileLayerPara) {
            var layer = null;
            var sourcePara = tileLayerPara.source;
            if (sourcePara == null) {
                return layer;
            }
            var tileGridPara = sourcePara.tileGrid;
            if (tileGridPara == null) {
                return layer;
            }
            var tileGrid = new ol.tilegrid.WMTS({
                origin: tileGridPara.origin,
                resolutions: tileGridPara.resolutions,
                extent: tileGridPara.extent,
                matrixIds: tileGridPara.matrixIds
            });
            var wmtsSource = new ol.source.WMTS({
                url: sourcePara.url,
                layer: sourcePara.layer,
                tileGrid: tileGrid,
                matrixSet: sourcePara.matrixSet,
                format:sourcePara.format
            });
            layer = new ol.layer.Tile({
                source: wmtsSource
            });
            return layer;
        }
        function getView(viewPara) {
            var view = null;
            if (viewPara != null) {
                view = new ol.View({
                    center: viewPara.center,
                    zoom:viewPara.zoom,
                    extent:viewPara.extent,
                    maxZoom:viewPara.maxZoom,
                })
            }
            return view;
        }
        function initializeMap(mapPara) {
            if (mapPara == null) {
                return;
            }
            var viewPara = mapPara.view;
            var view = getView(viewPara);
            
            var layers = [];
            var layersPara = mapPara.layers;
            if (layersPara != null) {
                for (var i = 0; i < layersPara.length; i++) {
                    var layerPara = layersPara[i];
                    var layerType = layerPara.javaScriptName;
                    var layer = null;
                    switch (layerType) {
                        case "ol.layer.Tile":
                            var layer = getTileLayer(layerPara);
                            break;
                    }
                    if (layer != null) {
                        layers.push(layer);
                    }
                }
            }
            var map = new ol.Map({
                layers: layers,
                target: 'map',
                view: view
            });
        }
        var width = $("#map").width();
        var height = $("#map").height();
        var url = '@Url.Action($"Preview" )' + '/' + width + '/' + height;
        console.log(url);
        $.ajax({
            url:url,
            type: 'GET',
            success: function (mapPara) {
                if (mapPara != null) {
                    initializeMap(mapPara);
                }
                else {
                    alert("初始化错误");
                }
            },
            error: function (data) {
                alert("错误："+data);
            }
        });

    </script>
}
