@model EMap.MapServer.Services.Models.LayerRecord

@{
    ViewData["Title"] = "WMTS预览";
}

@section Head {
    <head>
        <link rel="stylesheet" href="~/css/ol.css" type="text/css">
        <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
        <script src="~/js/ol.js" type="text/javascript"></script>
    </head>
}

<div id="map" class="map"></div>
@section Scripts {
    <script >
        import Map from 'ol/Map.js';
        import View from 'ol/View.js';
        import { getWidth, getTopLeft } from 'ol/extent.js';
        import TileLayer from 'ol/layer/Tile.js';
        import { get as getProjection } from 'ol/proj.js';
        import OSM from 'ol/source/OSM.js';
        import WMTS from 'ol/source/WMTS.js';
        import WMTSTileGrid from 'ol/tilegrid/WMTS.js';

        var projection = getProjection('EPSG:3857');
        var projectionExtent = projection.getExtent();
        var size = getWidth(projectionExtent) / 256;
        var resolutions = new Array(14);
        var matrixIds = new Array(14);
        for (var z = 0; z < 14; ++z) {
            // generate resolutions and matrixIds arrays for this WMTS
            resolutions[z] = size / Math.pow(2, z);
            matrixIds[z] = z;
        }

        var map = new Map({
            layers: [
                new TileLayer({
                    source: new OSM(),
                    opacity: 0.7
                }),
                new TileLayer({
                    opacity: 0.7,
                    source: new WMTS({
                        attributions: 'Tiles © <a href="https://services.arcgisonline.com/arcgis/rest/' +
                            'services/Demographics/USA_Population_Density/MapServer/">ArcGIS</a>',
                        url: 'https://services.arcgisonline.com/arcgis/rest/' +
                            'services/Demographics/USA_Population_Density/MapServer/WMTS/',
                        layer: '0',
                        matrixSet: 'EPSG:3857',
                        format: 'image/png',
                        projection: projection,
                        tileGrid: new WMTSTileGrid({
                            origin: getTopLeft(projectionExtent),
                            resolutions: resolutions,
                            matrixIds: matrixIds
                        }),
                        style: 'default',
                        wrapX: true
                    })
                })
            ],
            target: 'map',
            view: new View({
                center: [-11158582, 4813697],
                zoom: 4
            })
        });
    </script>
}