<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--配置IIS文件大小限制-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="1800" />
  </system.web>
</configuration>